{% extends 'acserver/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid margin-form-login">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-6 align-self-center text-white">
            <div class="card card-border bg-secondary">
                <div class="card-header text-white text-center">
                    <h3>Ajouter des voitures ou des pistes</h3>
                </div>
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body card-border">
                        <div class="form-group">
                            <label for="select-server">Choisissez le serveur de destination</label>
                            {{ form_car.all_servers }}
                        </div>
                        <div class="form-group">
                            <label for="filePack">Déposer votre archive <strong class="text-warning">cars.zip </strong><strong class="text-danger">OU </strong><strong class="text-warning">track.zip</strong></label>
                            {{ form_car.file }}
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-info">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block script %}

<script src="{% static 'manageserver/js/script.js' %}"></script>

{% endblock script %}