{% extends 'acserver/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card mx-auto card-editor">
                <div class="card-header">
                    <h3>Editeur</h3>
                    <div>
                        <button class="btn btn-primary">Modifier</button>
                        <button class="btn btn-primary">Savegarder</button>
                        <button class="btn btn-primary">Annuler</button>
                    </div>
                </div>
                <div class="card-body bg-preview pr-0 pl-1">
                    <pre class="preview m-0 d-none">
                        <code class="ini,toml" id="preview">
{{ file_car_list }}
                        </code>
                    </pre>
                    <textarea class="editor" name="config" id="editor" spellcheck="false">
{{ file_car_list }}
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block script %}
<script src="{% static 'manageserver/js/script.js' %}"></script>
<script src="{% static 'manageserver/js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock script %}